.autoInput {
  display: flex;
  flex-direction: column;
}

.search {
  width: 300px;
  margin-top: 10px;
}


.removeInput2 {
  border-radius: 100%;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1;
  top: 86px;
  left: 1060px !important;
}
